<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body ng-app="ProjectsApp">

    <header>
        <% include ../partials/header %>
    </header>

    <div id="about" class="pane pane-white">
        <div class="pane-content">
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
        </div>
    </div>
    <div id="projects" class="pane pane-dark">
        <div class="pane-content">
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
        </div>
    </div>

    <div class="pane pane-white">
        <div class="pane-content">
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
            <h1>hi</h1>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>