<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body ng-app="ProjectsApp">

    <header>
        <% include ../partials/header %>
    </header>
    <main ng-controller="ProjectsController">
        <div id="about" class="pane pane-white">
            <% include ../partials/aboutPane %>
        </div>
        <div id="projects" class="pane pane-dark">
            <% include ../partials/projectsPane %>
        </div>

        <div class="pane pane-white">
            <div>
                <h1>hi</h1>
                <h1>hi</h1>
                <h1>hi</h1>
                <h1>hi</h1>
                <h1>hi</h1>
                <h1>hi</h1>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>