<div class="about-content">
    <h3 class="about-content-title">bio</h3>

    <div class="about-content-body">
        <font class="about-content-font">
            I'm a recent college grad (A.B. in Computer Science) and software engineer generalist. 
            I've created single-page web apps, developed native and hybrid mobile apps across the stack, 
            and written embedded code to flash an IC board.
            Some technologies I've worked include 
            Python, Java, C, JavaScript, R, Backbone.js, AngularJS, Node.js/Express, RoR.
        </font>
        <br>
        <br>
        <ul class="about-content-list">
            <li>
                <a href="https://www.linkedin.com/in/brian-on-9ab609b1">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/onbrian">Github</a>
            </li>
        </ul>
        <br>
        <font class="about-content-font" style="text-align: right;">
            Check out my projects for some examples of my work. 
        </font>
    </div>
</div>