<!-- views/partials/header.ejs -->

<!--
<div class="page-header custom-page-header">
    <h1 class="pull-left" style="color:white">Brian On
        <small style="color:#777">Projects</small>
    </h1>
    
    <div class='btn-toolbar pull-right header-btn-toolbar'>
        <div class='btn-group'>
            <a class="btn btn-default" href="/" role="button">Me</a>
            <a class="btn btn-default" href="/projects" role="button">Projects</a>
        </div>
    </div>
</div>
-->
<!--
<nav aria-label="...">
    <ul class="pager">
        <li><a href="/">Brian On</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>
-->
<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Brian On
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/projects">Projects</a></li>
        </ul>
    </div>
</nav>
-->