<!-- views/partials/header.ejs -->

<!--
<div class="page-header custom-page-header">
    <h1 class="pull-left" style="color:white">Brian On
        <small style="color:#777">Projects</small>
    </h1>
    
    <div class='btn-toolbar pull-right header-btn-toolbar'>
        <div class='btn-group'>
            <a class="btn btn-default" href="/" role="button">Me</a>
            <a class="btn btn-default" href="/projects" role="button">Projects</a>
        </div>
    </div>
</div>
-->
<!--
<nav aria-label="...">
    <ul class="pager">
        <li><a href="/">Brian On</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>
-->
<!--
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Brian On
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/projects">Projects</a></li>
        </ul>

    </div>
</nav>
-->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="" ng-click="scrollToElement('#about')">Brian On</a>
          <!--<a class="navbar-brand" href="#about">Brian On</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li>
                    <a href="" ng-click="scrollToElement('#projects')">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        &nbsp;Projects
                    </a>
                </li>
                <li>
                    <a href="##contact">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        &nbsp;Contact
                    </a>
                </li>
            </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
