<div class="projects-thumbnail">
	<a href="#" class="thumbnail hover-thumbnail" ng-mouseover="showCaption()" ng-mouseleave="hideCaption()">
		<div class="caption hover-thumbnail-caption">
            <h4>{{info.title}}</h4>
            <p>{{info.description}}</p>
        </div>
		<img src="{{info.img_src}}" alt="{{info.title}}">
	</a>
</div>