<!--<p>{{info.number}}</p>-->

<div class="row projects-thumbnail">
	<div class="col-md-12">
		<a href="#" class="thumbnail hover-thumbnail" ng-mouseover="showCaption()" ng-mouseleave="hideCaption()">
			<div class="caption hover-thumbnail-caption">
                <h4>Thumbnail Headline</h4>
                <p>short thumbnail description</p>
            </div>
			<img src="/img/default-placeholder.png" alt="{{info.number}">
		</a>
	</div>
</div>